<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.polyvi.xface.extension.idlewatcher"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.1">

    <name>IdleWatcher</name>
    <author>PolyVi Inc.</author>
    <description>xFace Idle-Watcher Extension</description>
    <license>GPLv3</license>
    <keywords>xface,idlewatcher</keywords>


    <js-module src="www/idlewatcher.js" name="idlewatcher">
        <clobbers target="window.xFace.IdleWatcher" />
    </js-module>

    <engines>
      <engine name="cordova" version=">=2.5.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IdleWatcher">
                <param name="android-package" value="com.polyvi.xface.extension.idlewatcher.XIdleWatcherExt"/>
            </feature>
        </config-file>

        <source-file src="src/android/XIdleWatcherExt.java" target-dir="src/com/polyvi/xface/extension/idlewatcher" />

     </platform>

     <!-- ios -->
     <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IdleWatcher">
                <param name="ios-package" value="XIdleWatcherExt" />
            </feature>
        </config-file>
        <header-file src="src/ios/XIdleWatcherExt.h" />
        <source-file src="src/ios/XIdleWatcherExt.m" />
    </platform>

</plugin>
